pipeline/FourthCoffeeFlatFiles.json
{
	"name": "FourthCoffeeFlatFiles",
	"properties": {
		"activities": [
			{
				"name": "LoadFlatFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFlatFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFlatFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "FourthCoffeeFlatFile",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@string(item().name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "IngestionTarget",
									"type": "DatasetReference",
									"parameters": {
										"targetfolder": {
											"value": "@concat('FourthCoffee/',concat(pipeline().parameters.SourceDatabase, '/'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('GetFlatFiles').output",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "GetFlatFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "FourthCoffeeFlatFile",
						"type": "DatasetReference",
						"parameters": {
							"Filename": {
								"value": "*.csv",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"SourceDatabase": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-22T11:05:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}